.btn {
  display: inline-block;
  background: none;
  border: none;
  font-family: inherit;
  cursor: pointer;
  color: var(--text-color);
  transition: color 300ms cubic-bezier(0.075, 0.82, 0.165, 1);
  border-radius: 10px;
}

.btn-text:hover {
  color: var(--accent-color-light);
}

.btn-filled, 
.btn-outline {
  font-weight: 500;
  padding: 0.375em 1.5em;
  font-size: 20px;
  width: 100%;
}
.btn-outline {
  color: var(--accent-color-light);
  border: 2px solid var(--accent-color-light);
}
.btn-filled,
.btn-outline:hover{
  background-color: var(--accent-color-light);
  color: white;
}

.btn-filled:hover {
  background-color: var(--accent-color-dark);
}