@font-face {
  font-family: "ProximaNova";
  src: url("../src/assets/fonts/ProximaNova-Regular.ttf") format("truetype");
  font-weight: normal;
}

@font-face {
  font-family: "ProximaNova";
  src: url("../src/assets/fonts/ProximaNova-Medium.ttf") format("truetype");
  font-weight: 500;
}

@font-face {
  font-family: "ProximaNova";
  src: url("../src/assets/fonts/ProximaNova-Bold.ttf") format("truetype");
  font-weight: 700;
}
:root {
  --slate: 53, 78, 87;
  --light-green: 136, 194, 66;
  --dark-green: 99, 160, 34;
  --light-grey: 238, 243, 244;
  --dark-grey: 133, 144, 148;

  --text-color: rgb(var(--slate));
  --accent-color-light: rgb(var(--light-green));
  --accent-color-dark: rgb(var(--dark-green));
  --bg-light: rgb(var(--light-grey));
  --bg-dark: rgb(var(--dark-grey));

  --ff-body: 'ProximaNova', sans-serif;

  --sm-font: 1rem;
  --md-font: 1.25rem;
  --lg-font: 1.75rem;
  --xl-font: 3rem;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html, body {
  width: 100%;
  height: 100%;
}

body {
  scroll-behavior: smooth;
  font-size: var(--sm-font);
  font-family: var(--ff-body);
  color: var(--text-color);
}
img {
  width: 100%;
}
.container {
  max-width: 1200px;
  margin: auto;
}

/* Typography */
h1 { 
  font-size: var(--xl-font);
}
h2 {
  font-size: var(--lg-font);
}
h3 {
  font-size: var(--md-font);
}
h1, h2, h3, h4, h5, h6 {
  line-height: 1.2;
}

p {
  line-height: 1.6;
}
a {
  text-decoration: none;
  color: var(--text-color);
}