@font-face {
  font-family: "ProximaNova";
  src: url("../src/assets/fonts/ProximaNova-Regular.ttf") format("truetype");
  font-weight: normal;
}

@font-face {
  font-family: "ProximaNova";
  src: url("../src/assets/fonts/ProximaNova-Medium.ttf") format("truetype");
  font-weight: 500;
}

@font-face {
  font-family: "ProximaNova";
  src: url("../src/assets/fonts/ProximaNova-Bold.ttf") format("truetype");
  font-weight: 700;
}
:root {
  --text-color: #354E57;
  
  --accent-color-light: #87C241;
  --accent-color-dark: #63A022;

  --bg-light: #EEF3F4;
  --bg-dark: #848F93;

  --ff-body: 'ProximaNova', sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html, body {
  width: 100%;
  height: 100%;
}

body {
  scroll-behavior: smooth;
  font-family: var(--ff-body);
  color: var(--text-color);
}
img {
  width: 100%;
}
.container {
  max-width: 1200px;
  margin: auto;
}

/* Typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1.2;
}

p {
  line-height: 1.6;
}